/.mozilla
/.cache
/.bash_history
/.wget-hsts
dead.letter
/.rnd
/.dbus
/.bash_logout
/.local
/.config/pulse
/.esd_auth
.viminfo
/.gitconfig
/dev
/.python_history
/.Xauthority
/Downloads
/.config/transmission-daemon
.pki
.config/chromium/
.config/dconf/
.config/htop/
/Programs
/.abuse
/.cargo
/.config/vlc/
/.parallelrealities
/.ssh
/.config/QtProject.conf
