{{template "header"}}

<div class="flex-container">
    <div id="form">
        <form action="/submit" method="POST">

            <label>Field</label>
            <select name="field" id="field">
                <option value="sciEng">Science and Engineering</option>
                <option value="bizFin">Business and Finance</option>
                <option value="socMed">Social media</option>
                <option value="art">Arts</option>
            </select>
            <br>
            <br>

            <label>Gender</label>
            <input type="radio" name="gender" value="male" checked="checked"> Male
            <input type="radio" name="gender" value="female"> Female
            <br>
            <br>

            <label>Age</label>
            <input type="number" name="age" id="age" min="0" max="100" required />
            <br>
            <br>

            <div id="attAndChar" style="display:none">
                <label>Attractiveness (0 to 10)</label>
                <input type="number" name="beauty" id="beauty" min="0" max="10" />
                <br>
                <br>

                <label>Charisma (0 to 10)</label>
                <input type="number" name="charisma" id="charisma" min="0" max="10" />
                <br>
                <br>
            </div>

            <div id="talent" style="display:none">
                <label>How talented are you ? (0 to 10)</label>
                <input type="number" name="talent" id="talent" min="0" max="10" />
                <br>
                <br>
            </div>

            <div id="educ" style="display:none">
                <label>Education</label>
                <select name="uni" id="uni">
                    <option value="ivyLea">Ivy league</option>
                    <option value="StaUni">State university</option>
                    <option value="highSch">High School or less</option>
                </select>
                <br>
                <br>
            </div>

            <label>Region</label>
            <select name="region">
                <option value="topTier">Top tier (USA, Japan, Germany...)</option>
                <option value="middTier">Middle tier (India, Brazil, Portugal...)</option>
                <option value="lowTier">Low tier (Africa, Eastern Europe...)</option>
            </select>
            <br>
            <br>

            <label>Social Status</label>
            <input type="radio" name="social" value="uppClass"> Upper class
            <input type="radio" name="social" value="middClass" checked="checked"> Middle class
            <input type="radio" name="social" value="lowClass"> Lower class
            <br>
            <br>

            <label>Ethnicity</label>
            <select name="ethni">
                <option value="asian">Asian</option>
                <option value="arab">Arab</option>
                <option value="black">Black</option>
                <option value="latino">Latino</option>
                <option value="white">White</option>
            </select>
            <br>
            <br>

            <input type="submit" value="Submit">
        </form>

    </div>
    <div id="hypo">
        <h4>Hypotheses</h4>
        <ul>
            <li>You haven't made it yet.</li>
            <li>You're determined to make it.</li>
            <li>You're in good health.</li>
            <li>You're socially adequate.</li>
        </ul>
    </div>
</div>
{{template "footer"}}